<!-- Anna Olieinik -->
<section class="advantages" id="advantages">
    <div class="container">
        <h6 class="advantages_title_litle">Переваги</h6>
        <h3 class="advantages_title_main">Чому обрати нас?</h3>
        <p class="advantages_paragraf">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
            стійкість
            і
            довговічність. Обираючи EcoTote, ви
            підтримуєте екологічну відповідальність.</p>
        <div class="advantages_about_us">
            <div class="advantages_blocks_img_adout">
                <img class="advantages_img_blocks" src="../img/advantages/advantages_bottles_1x.jpg"
                    srcset="../img/advantages/advantages_bottles_1x.jpg 1x, ../img/advantages/advantages_bottles_2x.jpg 2x"
                    alt="sustainability_bottles">
                <h4 class="advantages_block_title">Стійкість та екологічність</h4>
                <p class="advantages_block_paragraf advantages_tablet_paragraf">Виготовлені з органічної бавовни
                    та переробленого
                    пластику.</p>
            </div>
            <div class="advantages_blocks_img_adout">
                <img class="advantages_img_blocks" src="../img/advantages/advantages_production_1x.jpg"
                    srcset="../img/advantages/advantages_production_1x.jpg 1x, ../img/advantages/advantages_producthion_2x.jpg 2x"
                    alt="durability_producthion">
                <h4 class="advantages_block_title">Міцність і довговічність</h4>
                <p class="advantages_block_paragraf">Наші сумки мають посилені шви для тривалого використання.
                </p>
            </div>
            <div class="advantages_blocks_img_adout">
                <img class="advantages_img_blocks advantages_img_tablet"
                    src="../img/advantages/advantages_results_bags_1x.jpg"
                    srcset="../img/advantages/advantages_results_bags_1x.jpg 1x, ../img/advantages/asvantages_results_bags_2x.jpg 2x"
                    alt="sustainability_bottles">
                <h4 class="advantages_block_title">Стильний та сучасний дизайн</h4>
                <p class="advantages_block_paragraf advantages_tablet_paragraf">Мінімалістичні моделі в
                    обмежених серіях для кожного стилю.
                </p>
            </div>
        </div>
    </div>

</section>