<!-- Анна Копець -->
<section id="reviews" class="feedback">
  <div class="container">
  <h2 class="feedback-title">Що говорять наші клієнти</h2>
  <ul class="feedback-main-list">
    <li class="feedback-main-item">
      <ul class="feedback-list">
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="feedback-desc">
        Сумка дуже зручна та стильна, використовую щодня!
      </p>
      <p class="feedback-text">Анна</p>
    </li>
    <li class="feedback-main-item">
      <ul class="feedback-list">
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon feedback-icon-black" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="feedback-desc feedback-desc-difference">
        Відмінна якість матеріалів, приємно здивована.
      </p>
      <p class="feedback-text">Ігор</p>
    </li>
    <li class="feedback-main-item">
      <ul class="feedback-list">
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon feedback-icon-black" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="feedback-desc feedback-desc-distance">
        Сумка повністю відповідає опису, рекомендую!
      </p>
      <p class="feedback-text">Олена</p>
    </li>
    <li class="feedback-main-item">
      <ul class="feedback-list">
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
        <li class="feedback-item">
          <svg class="feedback-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-star"></use>
          </svg>
        </li>
      </ul>
      <p class="feedback-desc feedback-desc-distance">
        Швидка доставка та гарне обслуговування.
      </p>
      <p class="feedback-text">Сергій</p>
    </li>
  </ul>
  </div>
</section>
