<!-- Anhelina Bondar -->
<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
      <div class="hero-descr">
        <p class="hero-text">
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з EcoTote.
        </p>
        <a href="#assortment" class="hero-btn">Купити зараз</a>
      </div>
    </div>

    <div class="hero-pictures">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/hero-image-desc-min.jpg    1x,
            /img/hero/hero-image-desc@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero/hero-image-tab-min.jpg    1x,
            /img/hero/hero-image-tab@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero/hero-image-mob-min.jpg    1x,
            /img/hero/hero-image-mob@2x-min.jpg 2x
          "
        />
        <img
          src="/img/hero/hero-image-desc-min.jpg"
          alt="hero image bags"
          class="hero-img"
        />
      </picture>
    </div>
  </div>
</section>
