.advantages {
  padding-top: 32px;
  padding-bottom: 32px;
}

.advantages_div_title {
  display: flex;
  flex-direction: column;
}

.advantages_title_litle {
  order: 1;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
  margin-top: 0;
}
.advantages_title_main {
  order: 2;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}
.advantages_paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 48px;
}
.advantages_about_us {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.advantages_blocks_img_adout {
}
.advantages_img_blocks {
  border-radius: 32px;
  min-width: 288px;
  min-height: 198px;
  margin-bottom: 8px;
}
.advantages_block_title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.advantages_block_paragraf {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .advantages_title_litle {
    margin-bottom: 16px;
  }
  .advantages_title_main {
    margin-bottom: 24px;
  }
  .advantages_paragraf {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .advantages_about_us {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .advantages_img_blocks {
    margin-bottom: 32px;
  }
  .advantages_blocks_img_adout {
    flex: 1 1;
  }

  .advantages_about_us:last-child {
    flex: 1 1 100%;
  }
  .advantages_block_title {
    margin-bottom: 8px;
  }

  .tablet_block_title {
    margin-bottom: 42.68px;
  }
  /* .advantages_tablet_paragraf {
    margin-top: 8px;
  } */
  .advantages_img_tablet {
    width: 100%;
    border-radius: 60px;
  }
}
/* Tablet */

/* Laptop */

@media screen and (min-width: 1440px) {
  .advantages_title_main {
    font-size: 48px;
  }
  .advantages_paragraf {
    max-width: 700px;
  }
  .advantages_paragraf {
    margin-bottom: 80px;
  }
  .advantages_about_us {
    flex-direction: row;
    gap: 24px;
  }
  .advantages_img_blocks {
    margin-bottom: 32px;
    border-radius: 32px;
  }
  .advantages_block_title {
    margin-bottom: 24px;
  }
  .advantages_block_title {
    max-width: 330px;
    font-size: 32px;
  }
}

/* Laptop */
