

.footer {
  background-color: #75d281;
  padding: 48px 0;
}

.footer-container {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
  width: 100%;

}

.footer-list,
 .footer-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

  .footer-link {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: #030a06; 
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }

.footer-link:hover,
.footer-link:focus {
  opacity: 0.5;
}


.footer-soclink-list, 
.social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}


.social-icon {
  width: 32px; 
  height: 32px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-logo {
   display: block;
}

.footer-logo-icon {
    width: 281px;
    height: 121px;
    flex-shrink: 0;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #113916;
  opacity: 0.6;
}


.footer-contact::before {
  content: "";
  border-top: 1px solid rgba(3, 10, 6, 0.15);
  width: 280px;
  height: 0px;
}


.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 24px;
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  
}

.footer-contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #030a06;
  transition: color 250ms ease;
}

.copyright-text {
  font-size: 14px;
  font-weight: 400;
  color: #030a06;
  line-height: 1.6;
  text-align: center;
}


/* === TABLET === */

@media screen and (min-width: 768px) {
   .footer {
    padding: 64px 0;
   }
    
   .footer-nav-unit {
    gap: 24px;
   }

  .footer-contact::before {
  content: "";
  border: 1px solid rgba(3, 10, 6, 0.15);
  width: 704px;
  height: 0px;
}

  .footer-logo-icon {
    width: 164px;
    height: 70px;
  }

   .footer-logo {
    width: 160px;
    height: 60px;
   }

  .footer-soclink-list {
    margin-bottom: 0px;
  }

  .footer-list {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }

  .social-icon {
  width: 40px; 
  height: 40px;
}
  
  .footer-contact-list {
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap; 
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}


/* === DESKTOP === */

@media screen and (min-width: 1440px) {
.footer {
    padding: 80px 0;
    }

    .footer-contact {
      margin-top: 16px;
      /* margin-bottom: 16px; */
    }

  .footer-logo-icon {
    display: inline-block;
  }

  .social-icon {
    width: 24px;
    height: 24px;
}

  .footer-logo-icon {
    margin-right: 177px;
  }

  .footer-nav {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }

  .footer-list {
    padding: 22px;
    text-align: center;
    margin-top: 0;
    width: 100%;
    gap: 40px;
  }

  .footer-nav-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
    width: 100%;
  }

  .footer-nav {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

  .footer-contact::before {
  content: "";
  border: 1px solid rgba(3, 10, 6, 0.15);
  width: 1312px;
  height: 0px;
}
  
   .footer-nav {
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
   }
  }




  

  
 
  





 

  

