.header-container {
    padding: 0 20px;
}
.header {
    display: flex;
    align-items: center;

    box-sizing: border-box;
}
.header-container {
    background-color: #75d281;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-list {
    display: none;
}


.header-link {
    font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #030a06;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.header-link:hover, .header-link:focus {

    opacity: 0.5;
}

.contact-list {
    display: none;
}

.contact-link {
    font-family: "Fira Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: #030a06;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.contact-link:hover, .contact-link:focus {

opacity: 0.5;
}
.menu-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    fill: #030a06;
}

/* MOB MENU */
.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #75d281;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
visibility: hidden;
pointer-events: none;
padding-bottom: 92px;
padding-top: 14px;
}
.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu-div {
    position: relative;

}
.mob-menu-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.btn-close {
fill: #030a06 ;
padding: 0;
background-color: transparent;
border: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 
}
.btn-close:hover, .btn-close:focus {
    opacity: 0.5;
}
.mob-menu-list {
padding-top: 32px;
    padding-bottom: 64px;
}
.mob-header-item:not(:last-child) {
    margin-bottom: 32px;
}
.mob-header-item:last-child {
    margin-bottom: 0;
}
.contact-div {
 display: flex;
flex-direction: column;
align-items: flex-start;
}
.menu-contact-list {
    padding-top: 32px;
}
.mob-contact-item:not(:last-child) {
    margin-bottom: 16px;
}
.menu-btn {
    fill: #030a06;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 
}

.menu-btn:hover, .menu-btn:focus {
    opacity: 0.5;
}
.icon-logo {
    width: 84px;
    height: 36px;
}
@media screen and (min-width: 768px) { 

    .header-container {
        padding: 0 32px;
    }
    .mob-menu {
        padding-bottom: 128px;
    }
    
    .menu-contact-list {
        padding-top: 32px;
    }
    .mob-menu-list {
            padding-bottom: 32px;
        }
    }
    
    
    @media screen and (min-width: 1440px) { 
        .header-list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            margin-right: auto;
        }
        .contact-list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
        .menu-btn {
            display: none;
        }
        .header-nav {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .header-logo {
            margin-right: 175px;
        }
        .mob-menu,
    .mob-menu.is-open {
            display: none;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        .icon-logo {
            width: 106px;
            height: 45px;
        }
    }